/*Generales*/
@font-face {
	font-family: BravoSC;
	src: url(BravoSC.otf);
}

body {
	margin: 0;
	padding: 0;
	font-family: BravoSC;
}

h2 {
	margin: 10% 0 5% 0;
}

h2, h4, h5, h6, .parrafo p a {
	color: rgb(0, 152, 116);
}

.e2biz .parrafo {
	margin: 0 20%;
}

.e2biz .parrafo p {
	font-size: 16px;
}

.servicios {
	background-color: rgb(248, 249, 249);
	height: 700px;
}

.servicios .imagen {
	background-color: white;
}

.servicios .imagen p {
	text-align: center;
}

.servicios img, .proyectos img {
	width: 100%;
	height: 200px;
}






h5 {
	font-family: "Bravo SC";
}

.footer {
	background-color: #7E7C7C;
	color: #fff;
}


.redes-sociales {
	text-align: center;
	float: left;
	margin-top: 20px;
}

.redes-sociales .red a, .redes span a {
	text-decoration: none;
	color: #fff;
}

.redes-sociales .red a i, .redes span a i {
	margin-left: 15px;
	font-size: 20px;
}

.fa-facebook {
	margin-right: 17px;
}



/*Header*/

nav .navbar {
	background-color: #219478;
}

.navbar {
	height: 100px;
	width: 100%;
}

.navbar .navbar-header a img {
	width: 40%;
	height: 50px;
	margin-top: -15px;
}

.navbar .collapse .navbar-header ul li {
	color: green;
}

@media screen and (width: :800px){
	.navbar .navbar-header a img {
		margin-top: -70px;
	}

	.navbar .collapse .navbar-header ul li {
		color: #fff;
		background: rgb(33, 148, 120);
	}
}






/*Index*/
.inicio {
	background-image: url(../img/Hero-image.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
	margin-top: -19px;
}

.inicio .fondo {
	background-color: #F5F1F1;
	opacity: 0.8;
	width: 50%;
	height: 120px;
	margin: 10% 30%;
	padding: 7px;
}

.inicio .fondo h5 {
	color: black;
	font-size: 20px;
}

.inicio .fondo .divider {
	height: 2px;
	color: #45B19B;
	background-color: rgb(0, 152, 116);
	border: 0;
}



.proyectos-clientes {
	height: 600px;
}

.proyectos-clientes .analisis {
	height: 120px;
	width: 100%;
	float: left;
}

.proyectos-clientes .analisis img {
	width: 100%;
	height: 100px;
	background-size: 100% 100%;
}



/*Quienes Somos*/

.e2 {
	margin-top: -19px;
}

.seguir {
	background-color: #188DCA;
	color: #fff;
	padding: 40px 20px;
}

.seguir .sociales {
	display: inline-block;
}

.seguir .sociales .redes {
	background-color: #fff;
	float: left;
	padding: 10px;
	margin-left: 10px;
}

.redes span i {
	color: #188DCA;
}


.descripcion {
	text-align: center;
	box-sizing: border-box;
	margin: 0 13px;
	padding: 0 10px;
}

.descripcion .centrado {
	margin: 0 20px;
	color: #024959;
}

.bg-plome {
	background-color: #F5F4F4;
	height: 650px;
	width: 100%;
	box-sizing: border-box;
}

.bg-plome h2 {
	top: -20px;
}
.bg-plome .equipo-grupo {
	width: 100%;
	float: left;
	padding: 15px 30px;
	background-size: 100% 100%;
	margin: 5px;
}


.equipo .imagen-equipo img {
	width: 100%;
	height: 250px;
	padding: 15px;
}

.equipo .cargo {
	background: #fff;
}

.equipo .cargo h5 {
	color: #999999;
}

.team .img-team img {
	height: 300px;
	width: 100%;
	size: 100% 100%;
	margin-bottom: 30px;
}

.team .detalle-cargo {
	margin: 0 13%;
}

.team .detalle-team {
	padding: 20px;
	box-sizing: border-box;
}

.team .detalle-team  .parrafo-team {
	margin: 5% 10%;
}

.seguir {
	background-color: #188DCA;
	color: #fff;
	padding: 20px;
}

.seguir .sociales {
	display: inline-block;
	text-align: center;
}

.seguir .sociales .redes {
	background-color: #fff;
	float: left;
	padding: 7px;
	margin-left: 15px;
	width: 25%;
}

.redes span i {
	color: #188DCA;
	text-align: center;
	margin-right: 20px;
}





/*Proyectos y Clientes*/

.titulo-project {
	background-image: url(../img/Proyectos-clientes.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;
	width: 100%;
	margin-top: -19px;
}

.titulo-project .fondo {
	background-color: rgba(251, 238, 238, 0.8);
	width: 50%;
	height: 70px;
	margin: 3% 22%;
}

.titulo-project .fondo .divider {
	background-color: : rgba(16, 129, 181, 0.88);
}

.titulo-project .fondo h5 {
	color: black;
}

.proyecto {
	margin: 7% 5% 3% 5%;
}

.proyecto .mostrar-proyecto {
	margin: 12px 0;
}

.proyecto .mostrar-proyecto img {
	width: 100%;
	background-size: 100% 100%;
	height: 300px;
}

.proyecto .mostrar-proyecto .clientes {
	margin-top: 20px;
}

.pagination .pagination-list {
	width: 100%;
	margin: 0 7%;
}






/*Trabaja con Nosotros y Contacto*/
.contacto {
	background-image: url(../img/Trabaja.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 600px;
	margin-top: -19px;
	
}

.contacto .bg-contacto {
	background: rgba(101, 115, 35, 0.5);
	height: 600px;
}

.contacto .formulario .cv-enviar .btn {
	left: -20%;
}

.formulario form {
	width: 100%;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
}

.formulario input {
	box-sizing: border-box;
	width: 100%;
	padding: 0 4%;

}

.bg-contacto h6 {
	color: white;
	margin-top: 8%;
	font-size: 20px;	
}

.e2 .descripcion {
	width: 100%;
	height: 350px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}





